* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

/* Encabezado */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
  /* hasta aqui div.class=left quedo a la izquierda y nav.class=right quedo a la derecha*/
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* hasta aqui se organizaron(se separaron) trabajo contacto y los iconos*/
  align-items: center;
  /* Hasta aqui alinedados en el eje transversal */
}

.navbar .right a {
  text-decoration: none;
  color: black;
}

.navbar .right a:hover {
  text-decoration: underline;
}

/* boton responsive menu */
.navbar .bar{
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.navbar .hamburguer{
  display: none;
}

/* Proyectos */

.proyecto {
  /* solo de ejemplo, lo quitamos para que se estire */
  /* width: 500px; */
  position: relative;
}

/* aqui suamos el grid */
.proyectos {
  display: grid;
  grid-template-areas:
    "apartamento apartamento casa1"
    "apartamento apartamento casa1"
    "casa4 casa3 casa2"
    "casa5 casa6 casa6"
    "casa5 casa6 casa6"
    "casa7 casa7 casa8"
    "casa7 casa7 casa8";
  /* solo para revisar */
  /* height: 700px; */

  /* para la separacion */
  /* el width para ocupar todo el espacio del contenedor, esto como medida de seguridad */
  width: 100%;
  grid-gap: 16px;
}

#apartamento {
  grid-area: apartamento;
}

#casa1 {
  grid-area: casa1;
}

#casa2 {
  grid-area: casa2;
}

#casa3 {
  grid-area: casa3;
}

#casa4 {
  grid-area: casa4;
}

#casa5 {
  grid-area: casa5;
}

#casa6 {
  grid-area: casa6;
}

#casa7 {
  grid-area: casa7;
}

#casa8 {
  grid-area: casa8;
}

.proyecto img {
  width: 100%;
  /* como ajustar un elemento, como se escala o recorta para adaptarse */
  object-fit: cover;
  height: 100%;
}

.proyecto .superpuesto {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  /* debe aparecer cuando pasemos el cursor(hover), lo escondemos */
  opacity: 0;
  transition: all 0.2s ease;
}

.proyecto .superpuesto:hover {
  opacity: 1;
  cursor: pointer;
}
/* cuando no se entra desde la clase principal, las clases deben ir pegadas */
.superpuesto.blanco {
  color: white;
}

/* footer */
.footer {
  text-align: center;
  padding: 64px;
}

/* Responsive y Media Queries */
@media only screen and (max-width: 1110px) {
  .container {
    max-width: 100%;
  }

  .proyectos {
    display: grid;
    grid-template-areas:
      "apartamento apartamento"
      "casa1 casa2"
      "casa4 casa3"
      "casa6 casa6"
      "casa5 casa7"
      "casa8 casa8";
  }
}

/*  Media queries telefono*/
@media only screen and (max-width: 768px) {
  .proyectos{
    margin-top: 100px;
  }

  .navbar{
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
  }

  .navbar .right{
    display: none;
  }

  /* hacer que aparezca el menu hamburgues */
  .navbar .hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proyectos {
    display: grid;
    grid-template-areas:
      "apartamento apartamento"
      "casa1 casa1"
      "casa2 casa2"
      "casa4 casa3"
      "casa6 casa6"
      "casa5 casa5"
      "casa7 casa7"
      "casa8 casa8";
  }

  .proyecto .superpuesto{
    font-size: 24px;
    text-align: center;
  }

  .footer{
    font-size: 14px;
    padding: 32px;
  }
}